*{ margin: 0;padding: 0;box-sizing: border-box;}

.carousel-inner img {
    width: 100%;
    height: 89vh;
  }
 .body {
 	background-image: url(../images/img4.jpg);
 	width:212vh;
  height: 88vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 	text-align:justify;
 	margin: 2px ;
 	padding: 10px 13px;
 	font-family: "Times New Roman", Georgia, Serif;}
   h1, h2, h3, h4, h5, h6 {
   font-family: "Playfair Display";
   letter-spacing: 5px;
 }
 .carousel-caption {
 	position: absolute;
 	top:20%;
 	text-align: center;
 	font-size: 50px;
 	color: black;
 	text-decoration-color: white;
 	font-family: "Playfair Display";

 }
 .container{
 	text-align: center;
 }
 table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
button{
	width: 72px;
	margin:2px ;
	padding: 2px;
	color: white;
 	text-decoration-color: white;
 	font-family: "Playfair Display";
 	background-color: rgb(51, 102, 153);
 	display: inline-block;
    cursor: pointer;
}
button:hover {
  background-color: rgb(62, 125, 193);
}